
<li class="aside-item aside-item--mv">
    <div class="aside-item-header">
        <h2 class="aside-item__heading">
            <div class="aside-item__heading-text">
                BXH MV
            </div>
            <div class="aside-item__heading-icon">
                <i class="fas fa-play"></i>
            </div>
        </h2>
        <ul class="aside-item__choose">
            <li class="aside-item__choose-item aside-item__choose-item--active aside-item__choose-item--mv aside-item__choose-item--vietnam">
                Việt Nam
            </li>
            <li class="aside-item__choose-item aside-item__choose-item--mv aside-item__choose-item--usa">
                Âu Mỹ
            </li>
            <li class="aside-item__choose-item aside-item__choose-item--mv aside-item__choose-item--korea">
                Hàn Quốc
            </li>
        </ul>
    </div>
    <ul class="aside-item__list aside-item__list--vietnam aside-item__list--mv">
        <li class="aside-item__list-item aside-item__list-item--1">
            <a href="" class="aside-item__list-item-link">
                <div class="aside-item__list-item-image">
                    <img src="https://i1.sndcdn.com/artworks-vjfASjlxOE1AKd9y-OGrz1Q-t500x500.jpg" alt="" class="aside-item__list-item-image-img">
                    <div class="aside-item__list-item-rank aside-item__list-item-rank--1">
                        1
                    </div>
                    <div class="aside-item__list-item-des">
                        <div class="aside-item__list-item-des-nameMusic">
                            Bước qua mùa cô đơn
                        </div>
                        <h4 class="aside-item__list-item-des-singer">
                            Vũ
                        </h4>
                    </div>
                    <div class="aside-item__list-item-image-icon">
                        <i class="fas fa-play"></i>

                    </div>
                    <div class="aside-item__list-item-image-alpha">

                    </div>
                </div>
            </a>
        </li>
        <li class="aside-item__list-item">
            <a href="" class="aside-item__list-item-link">
                <div class="aside-item__list-item-rank-mv">
                    <img src="https://i.ytimg.com/vi/n6Pnzi6r9NU/maxresdefault.jpg" alt="" class="aside-item__list-item-rank-mv-img">
                    <div class="aside-item__list-item-rank aside-item__list-item-rank--2">
                        
                    </div>
                    <div class="aside-item__list-item-rank-mv-icon">
                        <i class="fas fa-play"></i>
                    </div>
                    <div class="aside-item__list-item-rank-mv-alpha">

                    </div>
                </div>
                <div class="aside-item__list-item-des aside-item__list-item-des--mv">
                    <div class="aside-item__list-item-des-nameMusic">
                        Bước qua mùa cô đơn
                    </div>
                    <h4 class="aside-item__list-item-des-singer">
                        Vũ
                    </h4>
                </div>
            </a>
        </li>
        <li class="aside-item__list-item">
            <a href="" class="aside-item__list-item-link">
                <div class="aside-item__list-item-rank-mv">
                    <img src="https://i.ytimg.com/vi/n6Pnzi6r9NU/maxresdefault.jpg" alt="" class="aside-item__list-item-rank-mv-img">
                    <div class="aside-item__list-item-rank aside-item__list-item-rank--2">
                        
                    </div>
                    <div class="aside-item__list-item-rank-mv-icon">
                        <i class="fas fa-play"></i>
                    </div>
                    <div class="aside-item__list-item-rank-mv-alpha">

                    </div>
                </div>
                <div class="aside-item__list-item-des aside-item__list-item-des--mv">
                    <div class="aside-item__list-item-des-nameMusic">
                        Bước qua mùa cô đơn
                    </div>
                    <h4 class="aside-item__list-item-des-singer">
                        Vũ
                    </h4>
                </div>
            </a>
        </li>
    </ul>
    <ul class="aside-item__list aside-item__list--usa aside-item__list--mv">
        <li class="aside-item__list-item aside-item__list-item--1">
            <a href="" class="aside-item__list-item-link">
                <div class="aside-item__list-item-image">
                    <img src="https://i1.sndcdn.com/artworks-vjfASjlxOE1AKd9y-OGrz1Q-t500x500.jpg" alt="" class="aside-item__list-item-image-img">
                    <div class="aside-item__list-item-rank aside-item__list-item-rank--1">
                        1
                    </div>
                    <div class="aside-item__list-item-des">
                        <div class="aside-item__list-item-des-nameMusic">
                            See you again
                        </div>
                        <h4 class="aside-item__list-item-des-singer">
                            Vũ
                        </h4>
                    </div>
                    <div class="aside-item__list-item-image-icon">
                        <i class="fas fa-play"></i>

                    </div>
                    <div class="aside-item__list-item-image-alpha">

                    </div>
                </div>
            </a>
        </li>
        <li class="aside-item__list-item">
            <a href="" class="aside-item__list-item-link">
                <div class="aside-item__list-item-rank-mv">
                    <img src="https://i.ytimg.com/vi/n6Pnzi6r9NU/maxresdefault.jpg" alt="" class="aside-item__list-item-rank-mv-img">
                    <div class="aside-item__list-item-rank aside-item__list-item-rank--2">
                        
                    </div>
                    <div class="aside-item__list-item-rank-mv-icon">
                        <i class="fas fa-play"></i>
                    </div>
                    <div class="aside-item__list-item-rank-mv-alpha">

                    </div>
                </div>
                <div class="aside-item__list-item-des aside-item__list-item-des--mv">
                    <div class="aside-item__list-item-des-nameMusic">
                        Bước qua mùa cô đơn
                    </div>
                    <h4 class="aside-item__list-item-des-singer">
                        Vũ
                    </h4>
                </div>
            </a>
        </li>
        <li class="aside-item__list-item">
            <a href="" class="aside-item__list-item-link">
                <div class="aside-item__list-item-rank-mv">
                    <img src="https://i.ytimg.com/vi/n6Pnzi6r9NU/maxresdefault.jpg" alt="" class="aside-item__list-item-rank-mv-img">
                    <div class="aside-item__list-item-rank aside-item__list-item-rank--2">
                        
                    </div>
                    <div class="aside-item__list-item-rank-mv-icon">
                        <i class="fas fa-play"></i>
                    </div>
                    <div class="aside-item__list-item-rank-mv-alpha">

                    </div>
                </div>
                <div class="aside-item__list-item-des aside-item__list-item-des--mv">
                    <div class="aside-item__list-item-des-nameMusic">
                        Bước qua mùa cô đơn
                    </div>
                    <h4 class="aside-item__list-item-des-singer">
                        Vũ
                    </h4>
                </div>
            </a>
        </li>
    </ul>
    <ul class="aside-item__list aside-item__list--korea aside-item__list--mv">
        <li class="aside-item__list-item aside-item__list-item--1">
            <a href="" class="aside-item__list-item-link">
                <div class="aside-item__list-item-image">
                    <img src="https://i1.sndcdn.com/artworks-vjfASjlxOE1AKd9y-OGrz1Q-t500x500.jpg" alt="" class="aside-item__list-item-image-img">
                    <div class="aside-item__list-item-rank aside-item__list-item-rank--1">
                        1
                    </div>
                    <div class="aside-item__list-item-des">
                        <div class="aside-item__list-item-des-nameMusic">
                            Bước qua mùa cô đơn
                        </div>
                        <h4 class="aside-item__list-item-des-singer">
                            Vũ
                        </h4>
                    </div>
                    <div class="aside-item__list-item-image-icon">
                        <i class="fas fa-play"></i>

                    </div>
                    <div class="aside-item__list-item-image-alpha">

                    </div>
                </div>
            </a>
        </li>
        <li class="aside-item__list-item">
            <a href="" class="aside-item__list-item-link">
                <div class="aside-item__list-item-rank-mv">
                    <img src="https://i.ytimg.com/vi/n6Pnzi6r9NU/maxresdefault.jpg" alt="" class="aside-item__list-item-rank-mv-img">
                    <div class="aside-item__list-item-rank aside-item__list-item-rank--2">
                        
                    </div>
                    <div class="aside-item__list-item-rank-mv-icon">
                        <i class="fas fa-play"></i>
                    </div>
                    <div class="aside-item__list-item-rank-mv-alpha">

                    </div>
                </div>
                <div class="aside-item__list-item-des aside-item__list-item-des--mv">
                    <div class="aside-item__list-item-des-nameMusic">
                        Bước qua mùa cô đơn
                    </div>
                    <h4 class="aside-item__list-item-des-singer">
                        Vũ
                    </h4>
                </div>
            </a>
        </li>
        <li class="aside-item__list-item">
            <a href="" class="aside-item__list-item-link">
                <div class="aside-item__list-item-rank-mv">
                    <img src="https://i.ytimg.com/vi/n6Pnzi6r9NU/maxresdefault.jpg" alt="" class="aside-item__list-item-rank-mv-img">
                    <div class="aside-item__list-item-rank aside-item__list-item-rank--2">
                        
                    </div>
                    <div class="aside-item__list-item-rank-mv-icon">
                        <i class="fas fa-play"></i>
                    </div>
                    <div class="aside-item__list-item-rank-mv-alpha">

                    </div>
                </div>
                <div class="aside-item__list-item-des aside-item__list-item-des--mv">
                    <div class="aside-item__list-item-des-nameMusic">
                        Bước qua mùa cô đơn
                    </div>
                    <h4 class="aside-item__list-item-des-singer">
                        Vũ
                    </h4>
                </div>
            </a>
        </li>
    </ul>
</li>
