<div class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-xl-8">
                    <div class="footer__left">
                        <ul class="footer__left-list">
                            <li class="footer__left-items">
                                <div class="footer__left-items-title">
                                    Hỗ trợ
                                </div>
                                <div class="footer__left-items-content">
                                    <div class="footer__left-items-content-items">
                                        <a href="" class="footer__left-items-content-items-link">
                                            <div class="footer__left-items-content-items-icon">
                                                <i class="icofont-rounded-right"></i>
                                            </div>
                                            <div class="footer__left-items-content-items-text">
                                                Trợ giúp
                                            </div>
                                        </a>
                                    </div>
                                    <div class="footer__left-items-content-items">
                                        <a href="" class="footer__left-items-content-items-link">
                                            <div class="footer__left-items-content-items-icon">
                                                <i class="icofont-rounded-right"></i>
                                            </div>
                                            <div class="footer__left-items-content-items-text">
                                                Chính sách bảo mật
                                            </div>
                                        </a>
                                    </div>
                                    <div class="footer__left-items-content-items">
                                        <a href="" class="footer__left-items-content-items-link">
                                            <div class="footer__left-items-content-items-icon">
                                                <i class="icofont-rounded-right"></i>
                                            </div>
                                            <div class="footer__left-items-content-items-text">
                                                Sơ đồ
                                            </div>
                                        </a>
                                    </div>
                                    <div class="footer__left-items-content-items">
                                        <a href="" class="footer__left-items-content-items-link">
                                            <div class="footer__left-items-content-items-icon">
                                                <i class="icofont-rounded-right"></i>
                                            </div>
                                            <div class="footer__left-items-content-items-text">
                                                Chính sách SHTT
                                            </div>
                                        </a>
                                    </div>
                                    <div class="footer__left-items-content-items">
                                        <a href="" class="footer__left-items-content-items-link">
                                            <div class="footer__left-items-content-items-icon">
                                                <i class="icofont-rounded-right"></i>
                                            </div>
                                            <div class="footer__left-items-content-items-text">
                                                NCII
                                            </div>
                                        </a>
                                    </div>
                                    <div class="footer__left-items-content-items">
                                        <a href="" class="footer__left-items-content-items-link">
                                            <div class="footer__left-items-content-items-icon">
                                                <i class="icofont-rounded-right"></i>
                                            </div>
                                            <div class="footer__left-items-content-items-text">
                                                Thỏa thuận sử dụng
                                            </div>
                                        </a>
                                    </div>
                                    <div class="footer__left-items-content-items">
                                        <a href="" class="footer__left-items-content-items-link">
                                            <div class="footer__left-items-content-items-icon">
                                                <i class="icofont-rounded-right"></i>
                                            </div>
                                            <div class="footer__left-items-content-items-text">
                                                Liên hệ quảng cáo
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="footer__left-items">
                                <div class="footer__left-items-title">
                                    SẢN PHẨM KHÁC
                                </div>
                                <div class="footer__left-items-content">
                                    <div class="footer__left-items-content-items">
                                        <a href="" class="footer__left-items-content-items-link">
                                            <div class="footer__left-items-content-items-icon">
                                                <i class="icofont-rounded-right"></i>
                                            </div>
                                            <div class="footer__left-items-content-items-text">
                                                Mobile App
                                            </div>
                                        </a>
                                    </div>
                                    <div class="footer__left-items-content-items">
                                        <a href="" class="footer__left-items-content-items-link">
                                            <div class="footer__left-items-content-items-icon">
                                                <i class="icofont-rounded-right"></i>
                                            </div>
                                            <div class="footer__left-items-content-items-text">
                                                Mobile Web
                                            </div>
                                        </a>
                                    </div>
                                    <div class="footer__left-items-content-items">
                                        <a href="" class="footer__left-items-content-items-link">
                                            <div class="footer__left-items-content-items-icon">
                                                <i class="icofont-rounded-right"></i>
                                            </div>
                                            <div class="footer__left-items-content-items-text">
                                                Smart TV
                                            </div>
                                        </a>
                                    </div>
                                    <div class="footer__left-items-content-items">
                                        <a href="" class="footer__left-items-content-items-link">
                                            <div class="footer__left-items-content-items-icon">
                                                <i class="icofont-rounded-right"></i>
                                            </div>
                                            <div class="footer__left-items-content-items-text">
                                                Desktop
                                            </div>
                                        </a>
                                    </div>
                                    <div class="footer__left-items-content-items">
                                        <a href="" class="footer__left-items-content-items-link">
                                            <div class="footer__left-items-content-items-icon">
                                                <i class="icofont-rounded-right"></i>
                                            </div>
                                            <div class="footer__left-items-content-items-text">
                                                Dịch vụ 3G
                                            </div>
                                        </a>
                                    </div>
                                    <div class="footer__left-items-content-items">
                                        <a href="" class="footer__left-items-content-items-link">
                                            <div class="footer__left-items-content-items-icon">
                                                <i class="icofont-rounded-right"></i>
                                            </div>
                                            <div class="footer__left-items-content-items-text">
                                                NCT Corp
                                            </div>
                                        </a>
                                    </div>
                                    <div class="footer__left-items-content-items">
                                        <a href="" class="footer__left-items-content-items-link">
                                            <div class="footer__left-items-content-items-icon">
                                                <i class="icofont-rounded-right"></i>
                                            </div>
                                            <div class="footer__left-items-content-items-text">
                                                Tuyển dụng
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="footer__right">
                        <div class="footer__right-title">
                            Kết nối với chúng tôi
                        </div>
                        <div class="footer__right-social-network">
                            <a href="https://www.facebook.com/thanhhung.truong.581/" class="footer__right-social-network-link">
                                <img src="/img/img-options/facebook.png" alt="" class="footer__right-social-network-img">
                            </a>
                            <a href="https://www.instagram.com/hungtruong405/" class="footer__right-social-network-link">
                                <img src="/img/img-options/instagram.png" alt="" class="footer__right-social-network-img">
                            </a>
                            <a href="" class="footer__right-social-network-link">
                                <img src="/img/img-options/tiktok.png" alt="" class="footer__right-social-network-img">
                            </a>
                            <a href="" class="footer__right-social-network-link">
                                <img src="/img/img-options/zalo.png" alt="" class="footer__right-social-network-img">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="footer-bottom">
    <ul class="footer-bottom-list">
        <li class="footer-bottom-items">
            <a href="" class="footer-bottom-items-link">
                <div class="footer-bottom-items-icon">
                    <i class="icofont-location-pin"></i>
                </div>
                <div class="footer-bottom-items-des">
                    Thành phố Thái Bình
                </div>
            </a>
        </li>
        <li class="footer-bottom-items">
            <a href="" class="footer-bottom-items-link">
                <div class="footer-bottom-items-icon">
                    <i class="icofont-email"></i>
                </div>
                <div class="footer-bottom-items-des">
                    truongthanhhung2k2@gmail.com
                </div>
            </a>
        </li>
        <li class="footer-bottom-items">
            <a href="" class="footer-bottom-items-link">
                <div class="footer-bottom-items-icon">
                    <i class="icofont-phone"></i>
                </div>
                <div class="footer-bottom-items-des">
                    0842338169
                </div>
            </a>
        </li>
    </ul>
</div>
</div>