<div class="music-content-left__kind">
    <ul class="music-content-left__kind-list">
        <li class="music-content-left__kind-list-items">
            <ul class="music-content-left__kind-list-items-list">
                <h4 class="music-content-left__kind-list-items-heading">
                    Việt Nam
                </h4>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="" class="music-content-left__kind-list-items-list__items-link">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Nhạc Trẻ
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="" class="music-content-left__kind-list-items-list__items-link">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Trữ Tình
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="" class="music-content-left__kind-list-items-list__items-link">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Remix Việt
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="" class="music-content-left__kind-list-items-list__items-link">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Rap Việt
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items music-content-left__kind-list-items-list__items--newline">
                    <a href="" class="music-content-left__kind-list-items-list__items-link">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Tiền Chiến
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="" class="music-content-left__kind-list-items-list__items-link">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Nhạc Trịnh
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="" class="music-content-left__kind-list-items-list__items-link">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Rock Việt
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="" class="music-content-left__kind-list-items-list__items-link">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Cách Mạng
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="music-content-left__kind-list-items">
            <ul class="music-content-left__kind-list-items-list">
                <h4 class="music-content-left__kind-list-items-heading">
                    Âu Mỹ
                </h4>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="" class="music-content-left__kind-list-items-list__items-link">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Pop
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="" class="music-content-left__kind-list-items-list__items-link">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Rock
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="" class="music-content-left__kind-list-items-list__items-link">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Electronica/Dance
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="" class="music-content-left__kind-list-items-list__items-link">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            R&B/Hip Hop/Rap
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items music-content-left__kind-list-items-list__items--newline">
                    <a href="" class="music-content-left__kind-list-items-list__items-link">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Blues/Jazz
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="" class="music-content-left__kind-list-items-list__items-link">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Country
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="" class="music-content-left__kind-list-items-list__items-link">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Latin
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="" class="music-content-left__kind-list-items-list__items-link">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Xem Thêm
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="music-content-left__kind-list-items">
            <ul class="music-content-left__kind-list-items-list">
                <h4 class="music-content-left__kind-list-items-heading">
                    Châu Á
                </h4>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="" class="music-content-left__kind-list-items-list__items-link">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Nhạc Hàn
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="" class="music-content-left__kind-list-items-list__items-link">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Nhạc Hoa
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="" class="music-content-left__kind-list-items-list__items-link">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Nhạc Nhật
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="" class="music-content-left__kind-list-items-list__items-link">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Nhạc Thái
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="music-content-left__kind-list-items">
            <ul class="music-content-left__kind-list-items-list">
                <h4 class="music-content-left__kind-list-items-heading">
                    Khác
                </h4>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="" class="music-content-left__kind-list-items-list__items-link">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Thiếu Nhi
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="" class="music-content-left__kind-list-items-list__items-link">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Không Lời
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="" class="music-content-left__kind-list-items-list__items-link">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Beat
                        </div>
                    </a>
                </li>
                <li class="music-content-left__kind-list-items-list__items">
                    <a href="" class="music-content-left__kind-list-items-list__items-link">
                        <div class="music-content-left__kind-list-items-list__items-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="music-content-left__kind-list-items-list__items-des">
                            Xem Thêm
                        </div>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>