<div class="personal-user__component--singer-list-title personal-user__component--singer__introduce-title">
    <div class="personal-user__component--singer-list-title-text personal-user__component--singer__introduce-title-text">
        Playlist mới
    </div>
    <div class="personal-user__component--singer-list-title-icon personal-user__component--singer__introduce-title-icon">
        <i class="icofont-rounded-double-right"></i>
    </div>
</div>