<%- include('./includes/head.ejs') %>
<body>
    <div class="app">
        <%- include('./includes/navigation.ejs') %>
        <div class="home">
          <section class="home-slider">
            <div>
              <img src="https://datacare.vn/wp-content/uploads/2020/11/Banner-Am-Nhac-LVHB0911202008.jpg">
            </div>
            <div>
              <img src="https://datacare.vn/wp-content/uploads/2020/11/Banner-Am-Nhac-%E2%80%93-LVHB0911202015.jpg">
            </div>
            <div>
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0XjeOJ7JjI0rCZK6ZW9SDkFBRguPS2-WJlQ&usqp=CAU">
            </div>
            <div>
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmVJrgvaTEmfciylXlMK1vgxT0T_ePH2lYYK2Xprf3KJk0cktmn8clYRXy5RPpxRiXhiA&usqp=CAU">
            </div>
            <div>
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIIlLRPzPseLeFmPCwiMo8_wVEOEFFKixRZvWtrEX-VY15vJAk0xtzGWH4fSX1-O-aQVM&usqp=CAU">
            </div>
            <div>
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUhTzhPYz0L6VHpG-gVcRFWDDqaOZ1_ERgoNGgaRHMumAvmAyKDOBkR_0Ozj_k8C6FmNg&usqp=CAU">
            </div>
            <div>
              <img src="https://st.depositphotos.com/1351697/3887/v/950/depositphotos_38876357-stock-illustration-retro-party-poster-design.jpg">
            </div>
            <div>
              <img src="https://datacare.vn/wp-content/uploads/2020/11/Banner-Am-Nhac-%E2%80%93-LVHB0911202016.jpg">
            </div>
            <div>
              <img src="https://datacare.vn/wp-content/uploads/2020/11/Banner-Am-Nhac-LVHB0911202007.jpg">
            </div>
          </section>
          <div class="home-content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-9 home-content-left">
                  <div class="home-content-left-theme">
                    <div class="home-content-left-theme-title">
                      XUÂN ĐANG VỀ
                    </div>
                    <ul class="home-content-left-theme-list container">
                      <div class="row">
                        <li style="width: 20%" class="col-3 home-content-left-theme-item">
                          <a href="" class="home-content-left-theme-item-link">
                            <div class="home-content-left-theme-item-image">
                              <div class="home-content-left-theme-item-image-alpha">
    
                              </div>
                              <img src="/img/img-home/theme-1-1.jpg" alt="" class="home-content-left-theme-item-image-img">
                              <div class="home-content-left-theme-item-image-icon">
                                <i class="fas fa-play"></i>
                              </div>
                            </div>
                            <div class="home-content-left-theme-item-des">
                              Gọi Tên Mùa Xuân
                            </div>
                          </a>
                        </li>
                        <li style="width: 20%" class="col-3 home-content-left-theme-item">
                          <a href="" class="home-content-left-theme-item-link">
                            <div class="home-content-left-theme-item-image">
                              <div class="home-content-left-theme-item-image-alpha">
    
                              </div>
                              <img src="/img/img-home/theme-1-2.jpg" alt="" class="home-content-left-theme-item-image-img">
                              <div class="home-content-left-theme-item-image-icon">
                                <i class="fas fa-play"></i>
                              </div>
                            </div>
                            <div class="home-content-left-theme-item-des">
                              Nhạc Quảng Cáo Tạo Nên Không Khí Tết
                            </div>
                          </a>
                        </li>
                        <li style="width: 20%" class="col-3 home-content-left-theme-item">
                          <a href="" class="home-content-left-theme-item-link">
                            <div class="home-content-left-theme-item-image">
                              <div class="home-content-left-theme-item-image-alpha">
    
                              </div>
                              <img src="/img/img-home/theme-1-3.jpg" alt="" class="home-content-left-theme-item-image-img">
                              <div class="home-content-left-theme-item-image-icon">
                                <i class="fas fa-play"></i>
                              </div>
                            </div>
                            <div class="home-content-left-theme-item-des">
                              Đang Yên Đang Lành Tự Nhiên...Tết!
                            </div>
                          </a>
                        </li>
                        <li style="width: 20%" class="col-3 home-content-left-theme-item">
                          <a href="" class="home-content-left-theme-item-link">
                            <div class="home-content-left-theme-item-image">
                              <div class="home-content-left-theme-item-image-alpha">
    
                              </div>
                              <img src="/img/img-home/theme-1-4.jpg" alt="" class="home-content-left-theme-item-image-img">
                              <div class="home-content-left-theme-item-image-icon">
                                <i class="fas fa-play"></i>
                              </div>
                            </div>
                            <div class="home-content-left-theme-item-des">
                              Gió Mùa Xuân Tới
                            </div>
                          </a>
                        </li>
                        <li style="width: 20%" class="col-3 home-content-left-theme-item">
                          <a href="" class="home-content-left-theme-item-link">
                            <div class="home-content-left-theme-item-image">
                              <div class="home-content-left-theme-item-image-alpha">
    
                              </div>
                              <img src="/img/img-home/theme-1-4.jpg" alt="" class="home-content-left-theme-item-image-img">
                              <div class="home-content-left-theme-item-image-icon">
                                <i class="fas fa-play"></i>
                              </div>
                            </div>
                            <div class="home-content-left-theme-item-des">
                              Gió Mùa Xuân Tới
                            </div>
                          </a>
                        </li>
                      </div>
                    </ul>
                  </div>
                  <div class="home-content-left-theme">
                    <div class="home-content-left-theme-title">
                      MỚI CẬP NHẬT
                    </div>
                    <ul class="home-content-left-theme-list container">
                      <div class="row">
                        <li style="width: 20%" class="col-3 home-content-left-theme-item">
                          <a href="" class="home-content-left-theme-item-link">
                            <div class="home-content-left-theme-item-image">
                              <div class="home-content-left-theme-item-image-alpha">
    
                              </div>
                              <img src="/img/img-home/theme-2-1.jpg" alt="" class="home-content-left-theme-item-image-img">
                              <div class="home-content-left-theme-item-image-icon">
                                <i class="fas fa-play"></i>
                              </div>
                            </div>
                            <div class="home-content-left-theme-item-des">
                              Best Pop Songs Of 2022
                            </div>
                          </a>
                        </li>
                        <li style="width: 20%" class="col-3 home-content-left-theme-item">
                          <a href="" class="home-content-left-theme-item-link">
                            <div class="home-content-left-theme-item-image">
                              <div class="home-content-left-theme-item-image-alpha">
    
                              </div>
                              <img src="/img/img-home/theme-2-2.jpg" alt="" class="home-content-left-theme-item-image-img">
                              <div class="home-content-left-theme-item-image-icon">
                                <i class="fas fa-play"></i>
                              </div>
                            </div>
                            <div class="home-content-left-theme-item-des">
                              Nhạc Âu Mỹ Hôm Nay Nghe Gì?
                            </div>
                          </a>
                        </li>
                        <li style="width: 20%" class="col-3 home-content-left-theme-item">
                          <a href="" class="home-content-left-theme-item-link">
                            <div class="home-content-left-theme-item-image">
                              <div class="home-content-left-theme-item-image-alpha">
    
                              </div>
                              <img src="/img/img-home/theme-2-3.jpg" alt="" class="home-content-left-theme-item-image-img">
                              <div class="home-content-left-theme-item-image-icon">
                                <i class="fas fa-play"></i>
                              </div>
                            </div>
                            <div class="home-content-left-theme-item-des">
                              20 Ca Khúc Nhạc Trẻ Hot Nhất Tuần
                            </div>
                          </a>
                        </li>
                        <li style="width: 20%" class="col-3 home-content-left-theme-item">
                          <a href="" class="home-content-left-theme-item-link">
                            <div class="home-content-left-theme-item-image">
                              <div class="home-content-left-theme-item-image-alpha">
    
                              </div>
                              <img src="/img/img-home/theme-2-4.jpg" alt="" class="home-content-left-theme-item-image-img">
                              <div class="home-content-left-theme-item-image-icon">
                                <i class="fas fa-play"></i>
                              </div>
                            </div>
                            <div class="home-content-left-theme-item-des">
                              The Weeknd Collaborations
                            </div>
                          </a>
                        </li>
                        <li style="width: 20%" class="col-3 home-content-left-theme-item">
                          <a href="" class="home-content-left-theme-item-link">
                            <div class="home-content-left-theme-item-image">
                              <div class="home-content-left-theme-item-image-alpha">
    
                              </div>
                              <img src="/img/img-home/theme-2-4.jpg" alt="" class="home-content-left-theme-item-image-img">
                              <div class="home-content-left-theme-item-image-icon">
                                <i class="fas fa-play"></i>
                              </div>
                            </div>
                            <div class="home-content-left-theme-item-des">
                              The Weeknd Collaborations
                            </div>
                          </a>
                        </li>
                      </div>
                    </ul>
                  </div>
                  <div class="home-content-left-theme">
                    <div class="home-content-left-theme-title">
                      Hip-Hop Vibes
                    </div>
                    <ul class="home-content-left-theme-list container">
                      <div class="row">
                        <li style="width: 20%" class="col-3 home-content-left-theme-item">
                          <a href="" class="home-content-left-theme-item-link">
                            <div class="home-content-left-theme-item-image">
                              <div class="home-content-left-theme-item-image-alpha">
    
                              </div>
                              <img src="/img/img-home/theme-3-1.jpg" alt="" class="home-content-left-theme-item-image-img">
                              <div class="home-content-left-theme-item-image-icon">
                                <i class="fas fa-play"></i>
                              </div>
                            </div>
                            <div class="home-content-left-theme-item-des">
                              Hot Rap Songs
                            </div>
                          </a>
                        </li>
                        <li style="width: 20%" class="col-3 home-content-left-theme-item">
                          <a href="" class="home-content-left-theme-item-link">
                            <div class="home-content-left-theme-item-image">
                              <div class="home-content-left-theme-item-image-alpha">
    
                              </div>
                              <img src="/img/img-home/theme-2-2.jpg" alt="" class="home-content-left-theme-item-image-img">
                              <div class="home-content-left-theme-item-image-icon">
                                <i class="fas fa-play"></i>
                              </div>
                            </div>
                            <div class="home-content-left-theme-item-des">
                              Nhạc Âu Mỹ Hôm Nay Nghe Gì?
                            </div>
                          </a>
                        </li>
                        <li style="width: 20%" class="col-3 home-content-left-theme-item">
                          <a href="" class="home-content-left-theme-item-link">
                            <div class="home-content-left-theme-item-image">
                              <div class="home-content-left-theme-item-image-alpha">
    
                              </div>
                              <img src="/img/img-home/theme-2-3.jpg" alt="" class="home-content-left-theme-item-image-img">
                              <div class="home-content-left-theme-item-image-icon">
                                <i class="fas fa-play"></i>
                              </div>
                            </div>
                            <div class="home-content-left-theme-item-des">
                              20 Ca Khúc Nhạc Trẻ Hot Nhất Tuần
                            </div>
                          </a>
                        </li>
                        <li style="width: 20%" class="col-3 home-content-left-theme-item">
                          <a href="" class="home-content-left-theme-item-link">
                            <div class="home-content-left-theme-item-image">
                              <div class="home-content-left-theme-item-image-alpha">
    
                              </div>
                              <img src="/img/img-home/theme-2-4.jpg" alt="" class="home-content-left-theme-item-image-img">
                              <div class="home-content-left-theme-item-image-icon">
                                <i class="fas fa-play"></i>
                              </div>
                            </div>
                            <div class="home-content-left-theme-item-des">
                              The Weeknd Collaborations
                            </div>
                          </a>
                        </li>
                        <li style="width: 20%" class="col-3 home-content-left-theme-item">
                          <a href="" class="home-content-left-theme-item-link">
                            <div class="home-content-left-theme-item-image">
                              <div class="home-content-left-theme-item-image-alpha">
    
                              </div>
                              <img src="/img/img-home/theme-2-4.jpg" alt="" class="home-content-left-theme-item-image-img">
                              <div class="home-content-left-theme-item-image-icon">
                                <i class="fas fa-play"></i>
                              </div>
                            </div>
                            <div class="home-content-left-theme-item-des">
                              The Weeknd Collaborations
                            </div>
                          </a>
                        </li>
                      </div>
                    </ul>
                  </div>
                </div>
                <div class="col-3 home-content-right">
                  <%- include('./includes/aside.ejs') %>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    
</body>
</html>
<%- include('./includes/end.ejs') %>


