@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

:root {
  --main-color: #00aeef;
}

.admin-login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin-login-container {
  box-shadow: 1px 1px 6px #333;
  width: 420px;
  height: 200px;
  padding: 12px 18px;
  border-radius: 6px;
}
.admin-login-container-heading {
  margin-top: 4px;
}
.admin-login-container__form {
  margin-top: 12px;
}
.admin-login-container__form-group {
  display: flex;
  margin-bottom: 12px;
  align-items: center;
}
.admin-login-container__form-group-label {
  width: 24%;
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  font-size: 14px;
}
.admin-login-container__form-group-input {
  height: 32px;
  flex: 1;
}

.admin-login-container__button {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  color: white;
  font-size: 14px;
  padding: 6px 4px;
  /* margin-left: 10%; */
  margin-top: 16px;
}

/* admin */

.app-admin {
  display: flex;
}
.app-admin-left {
  width: 20%;
  background-color: #3a4651;
  height: 100vh;
  position: relative;
}
.app-admin-left__heading {
  padding: 12px;
  padding-left: 20px;
  color: white;
}
.app-admin-left__list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
.app-admin-left__items {
  padding: 12px;
  color: white;
}
.app-admin-left__items:hover {
  background-color: var(--main-color);
}
.app-admin-left__items--active {
  background-color: var(--main-color);
}
.app-admin-left__items-link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}
.app-admin-left__items-icon {
}
.app-admin-left__items-des {
  margin-left: 8px;
}
.fas.fa-music {
}

.app-admin-left__items--information {
  position: absolute;
  bottom: 12px;
  width: 100%;
  left: 0;
  padding: 12px;
  color: white;
  display: flex;
  align-items: center;
}

.app-admin-left__items--information-icon {
  margin-left: 8px;
  cursor: pointer;
}

.app-admin-right {
  background-color: #f0f3f6;
  flex: 1;
  height: 100vh;
  overflow-y: scroll;
}
.app-admin-right-heading {
  font-size: 30px;
  color: black;
  padding: 12px 12px;
  background-color: #d7dde4;
}
.app-admin-right__form {
  padding: 12px;
}
.app-admin-right__form-group {
  display: flex;
  margin-bottom: 12px;
  align-items: center;
}
.app-admin-right__form-group-add {
  margin-left: 6px;
  cursor: pointer;
}
.app-admin-right__form-group-label {
  width: 100px;
}
.app-admin-right__form-group-input {
  height: 32px;
  width: 40%;
  margin-left: 8px;
  font-size: 16px;
}
.app-admin-right-button {
  padding: 12px;
  background-color: var(--main-color);
  width: 180px;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
}

.app-admin-right-table {
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 4px;
}

.app-admin-right-table__row {
  position: relative;
}

.app-admin-right-table__row--active .app-admin-right-table__content {
  background-color: #888;
}

.app-admin-right-table__checkbox {
  cursor: pointer;
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translate(0, -50%);
}

.app-admin-right-table__edit {
  color: black;
  cursor: pointer;
  position: absolute;
  left: 26px;
  top: 50%;
  transform: translate(0, -50%);
}

.app-admin-right-delete {
  display: flex;
  background-color: #e74c3c;
  width: 72px;
  height: 24px;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  display: none;
}
.app-admin-right-delete__icon {
  margin-right: 4px;
}
.app-admin-right-delete__des {
}
.far.fa-trash-alt {
}

.app-admin-right__subtitle {
}
.app-admin-right__subtitle-list {
  list-style: none;
}
.app-admin-right__subtitle-items {
  margin-bottom: 12px;
  cursor: pointer;
  background-color: rgba(214, 196, 196, 0.1);
  position: relative;
}
.app-admin-right__subtitle-items__number {
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translate(0, -50%);
  background-color: var(--main-color);
  color: white;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.app-admin-right__subtitle-items__link {
  align-items: center;
  display: flex;
  text-decoration: none;
}
.-app-admin-right__subtitle-items-avatar {
  width: 60px;
  height: 60px;
}
.app-admin-right__subtitle-items-des {
  margin-left: 12px;
}
.app-admin-right__subtitle-items-des__name {
  font-weight: bold;
}
.app-admin-right__subtitle-items-des__singer {
  color: #888;
  font-size: 14px;
  margin-top: 4px;
}

.app-admin-right__subtitle__single-music {
  list-style: none;
  padding: 0;
  margin: 0;
}
.app-admin-right__subtitle__single-music-items {
  background-color: rgba(214, 196, 196, 0.1);
  margin: 12px 0;
  padding: 12px;
}
.app-admin-right__subtitle__single-music-poster {
  display: flex;
  justify-content: space-between;
}
.app-admin-right__subtitle__single-music-poster__left {
  display: flex;
  border-bottom: 1px solid #888;
}
.app-admin-right__subtitle__single-music-poster__left-id {
  margin-left: 4px;
}
.app-admin-right__subtitle__single-music-poster-link {
  text-decoration: none;
}
.app-admin-right__subtitle__single-music-poster__right {
  display: flex;
  color: white;
}

.app-admin-right__subtitle__single-music-poster__right-agree {
  padding: 6px 12px;
  font-size: 14px;
  background-color: #e74c3c;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}
.app-admin-right__subtitle__single-music-poster__right-delete {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  background-color: #e74c3c;
  cursor: pointer;
  margin-left: 12px;
}
.app-admin-right__subtitle__single-music-content {
  margin-top: 4px;
}
