.music {
  margin-top: 64px;
  padding: 0px 32px;
}
.music-content {
}
.container-fluid {
}
.row {
}
.col-9 {
}
.music-content-left {
}
.col-9.music-content-left {
}

.music-content-left__kind {
}
.music-content-left__kind-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.music-content-left__kind-list-items {
  padding: 12px 0;
  border-bottom: #dadada solid 1px;
}
.music-content-left__kind-list-items-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  flex-wrap: wrap;
}
.music-content-left__kind-list-items-heading {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
  /* margin-right: 32px; */
  width: 18%;
}
.music-content-left__kind-list-items-list__items {
  align-items: center;
  font-size: 14px;
  display: flex;
  color: #333333;
  cursor: pointer;
  width: 18%;
  align-items: center;
}
.music-content-left__kind-list-items-list__items-link {
  border-radius: 4px;
  padding: 4px 8px;
  display: flex;
  color: #333333;
  margin: 3px 0;
  text-decoration: none;
}
.music-content-left__kind-list-items-list__items--newline {
  margin-left: 18%;
}
.music-content-left__kind-list-items-list__items-link:hover {
  background-color: #e74c3c;
  color: white;
}

.music-content-left__kind-list-items-list__items-link:hover {
  background-color: #e74c3c;
  color: white;
}

.music-content-left__kind-list-items-list__items-link:hover
  .music-content-left__kind-list-items-list__items-icon {
  color: white;
}
.music-content-left__kind-list-items-list__items-icon {
  color: #333333;
}
.fas {
}
.fa-angle-right {
}
.music-content-left__kind-list-items-list__items-des {
  margin-left: 4px;
}
.fas.fa-angle-right {
}

/* New Music Page */
.music-content-left__newMusic {
  margin-top: 12px;
}

.music-content-left__newMusic-title {
  color: var(--main-color);
  font-size: 26px;
  cursor: pointer;
  text-transform: uppercase;
}

.music-content-left__newMusic-list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}
.music-content-left__newMusic-list__items {
  padding: 4px 0;
  border-top: #dadada solid 1px;
  border-bottom: #dadada solid 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.music-content-left__newMusic-list__items-left {
  display: flex;
}
.music-content-left__newMusic-list__items-left-avatar {
  width: 60px;
  height: 60px;
}
.music-content-left__newMusic-list__items-left-des {
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.music-content-left__newMusic-list__items-left-des-name {
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 24px;
}
.music-content-left__newMusic-list__items-left-des-name-link {
  color: black;
  text-decoration: none;
}

.music-content-left__newMusic-list__items-left-des-name-link:hover {
  color: var(--main-color);
}
.music-content-left__newMusic-list__items-left-des-singer-link {
  text-decoration: none;
  color: #999999;
}
.music-content-left__newMusic-list__items-left-des-singer-link:hover {
  color: var(--main-color);
}
.music-content-left__newMusic-list__items-left-des-singer {
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #999999;
}
.music-content-left__newMusic-list__items-right {
  display: flex;
  align-items: center;
  color: #999999;
  font-size: 12px;
}
.music-content-left__newMusic-list__items-right-mark {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.music-content-left__newMusic-list__items-right-mark__items {
  font-size: 11px;
}

.music-content-left__newMusic-list__items-right-mark__items--1 {
  padding: 1px 8px;
  text-transform: uppercase;
  background: #ccc;
  color: rgba(255, 255, 255, 1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0 5px 0 0;
}

.music-content-left__newMusic-list__items-right-mark__items--2 {
  padding: 1px 8px;
  text-transform: uppercase;
  background: #00adef;
  color: rgba(255, 255, 255, 1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0 5px 0 0;
}
.music-content-left__newMusic-list__items-right-listen {
  margin-left: 80px;
  display: flex;
}
.music-content-left__newMusic-list__items-right-listen-icon {
}
.music-content-left__newMusic-list__items-right-listen-number {
  margin-left: 5px;
}

.music-content-left__newMusic-list__items-right-icon {
  list-style: none;
  display: flex;
  padding: 0;
  margin-left: 80px;
  font-size: 14px;
}
.music-content-left__newMusic-list__items-right-icon-items {
  margin: 0 6px;
}
.music-content-left__newMusic-list__items-right-icon-items__link {
  color: #ccc;
}
.music-content-left__newMusic-list__items-right-icon-items__link:hover {
  color: var(--main-color);
}

/* Music Page */
.music-content-left__music {
}
.music-content-left__music-des {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.music-content-left__music-name {
  font-size: 22px;
  color: #000;
  font-weight: 500;
  font-style: normal;
}
.music-content-left__music-views {
  display: flex;
  align-items: center;
  color: #666666;
  font-size: 19px;
}
.music-content-left__music-views-number {
  margin-left: 4px;
}
.music-content-left__music-dashboard {
  height: 156px;
  background-color: black;
  border-radius: 4px;
  padding: 12px;
  position: relative;
  margin-top: 12px;
}
.music-content-left__music-dashboard-des {
  display: flex;
}
.music-content-left__music-dashboard-des-avatar {
  width: 80px;
  height: 80px;
}
.music-content-left__music-dashboar-des-subtitle {
  margin: 0 auto;
  margin-top: 12px;
  height: 28px;
  font-size: 22px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.music-content-left__music-dashboard-range {
  cursor: pointer;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.music-content-left__music-dashboard-controls {
  margin-top: 4px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.music-content-left__music-dashboard-controls__left {
  display: flex;
  align-items: center;
}
.music-content-left__music-dashboard-controls__left-next,
.music-content-left__music-dashboard-controls__left-play {
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.music-content-left__music-dashboard-controls__left-play--active .fa-play {
  display: none;
}

.music-content-left__music-dashboard-controls__left-play.music-content-left__music-dashboard-controls__left-play--active
  .fa-pause {
  display: block;
}

.music-content-left__music-dashboard-controls__left-play .fa-pause {
  display: none;
}

.music-content-left__music-dashboard-controls__left-next:hover,
.music-content-left__music-dashboard-controls__left-play:hover {
  color: var(--main-color);
}

.music-content-left__music-dashboard-controls__left-next {
  margin-left: 20px;
}

.music-content-left__music-dashboard-controls__left-time {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.music-content-left__music-dashboard-controls__left-time-current {
  color: #ccc;
  font-family: Verdana, sans-serif;
  font-size: 12px;
}
.music-content-left__music-dashboard-controls__left-time-space {
  color: #848484;
  font-size: 12px;
  margin: 0 4px;
}
.music-content-left__music-dashboard-controls__left-time-long {
  color: #848484;
  font-size: 12px;
}

.music-content-left__music-dashboard-controls__right {
  align-items: center;
  display: flex;
}
.music-content-left__music-dashboard-controls__right-auto {
  cursor: pointer;
  border-radius: 32px;
  width: 40px;
  height: 16px;
}
.music-content-left__music-dashboard-controls__right-auto-yes {
  height: 100%;
  width: 100%;
  border-radius: 32px;
  background-color: #54baf0;
  display: flex;
  align-items: center;
  /* display: none; */
}

.music-content-left__music-dashboard-controls__right-auto-no {
  height: 100%;
  width: 100%;
  border-radius: 32px;
  background-color: #c0c0c0;
  display: flex;
  align-items: center;
  padding-left: 4px;
  display: none;
}
.music-content-left__music-dashboard-controls__right-auto-check {
  margin: 0 4px 0 8px;
  font-size: 8px;
  color: white;
}
.music-content-left__music-dashboard-controls__right-auto-circle {
  width: 13px;
  height: 13px;
  background: white;
  border-radius: 50%;
}
.music-content-left__music-dashboard-controls__right-auto-no {
}
.music-content-left__music-dashboard-controls__right-quality {
  margin-left: 12px;
  width: 74px;
  height: 20px;
  position: relative;
}
.music-content-left__music-dashboard-controls__right-quality:hover
  .music-content-left__music-dashboard-controls__right-quality-list {
  display: block;
}
.music-content-left__music-dashboard-controls__right-quality-list {
  display: none;
  list-style: none;
  position: absolute;
  left: -15%;
  bottom: 106%;
  background-color: black;
  color: white;
  width: 100px;
  text-align: center;
  font-size: 13px;
  padding: 0;
}
.music-content-left__music-dashboard-controls__right-quality-list::after {
  content: "";
  display: block;
  height: 30%;
  width: 100%;
  position: absolute;
  bottom: -26px;
  background-color: transparent;
}
.music-content-left__music-dashboard-controls__right-quality-list-heading {
  border-bottom: 1px solid white;
  padding-bottom: 4px;
}
.music-content-left__music-dashboard-controls__right-quality-list-items {
  padding: 4px 4px;
}
.music-content-left__music-dashboard-controls__right-quality-list-items--first {
  margin-top: 4px;
}
.music-content-left__music-dashboard-controls__right-quality-list-items:hover {
  background-color: #4c4c4c;
  cursor: pointer;
}
.music-content-left__music-dashboard-controls__right-quality-current {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid white;
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.music-content-left__music-dashboard-controls__right-quality-list {
}
.music-content-left__music-dashboard-controls__right-volume {
  position: relative;
  cursor: pointer;
  margin-left: 14px;
  color: white;
}
.music-content-left__music-dashboard-controls__right-volume
  .music-content-left__music-dashboard-controls__right-volume-icon--pause {
  display: none;
}
.music-content-left__music-dashboard-controls__right-volume.music-content-left__music-dashboard-controls__right-volume--active
  .music-content-left__music-dashboard-controls__right-volume-icon--pause {
  display: block;
}
.music-content-left__music-dashboard-controls__right-volume.music-content-left__music-dashboard-controls__right-volume--active
  .music-content-left__music-dashboard-controls__right-volume-icon--play {
  display: none;
}
.music-content-left__music-dashboard-controls__right-volume:hover
  .music-content-left__music-dashboard-controls__right-volume-child {
  display: block;
}
.music-content-left__music-dashboard-controls__right-volume-child {
  position: absolute;
  display: none;
  height: max-content;
  height: 100px;
  width: 100px;
  top: -250%;
  right: -210%;
}
.music-content-left__music-dashboard-controls__right-volume-child-range {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(-90deg);
  height: 6px;
  cursor: pointer;
  width: 96px;
}
.music-content-left__music-dashboard-controls__right-volume-icon {
  font-size: 18px;
}

.music-content-left__music-dashboard-controls__right-volume-icon--play {
}

.music-content-left__music-dashboard-controls__right-volume-icon--pause {
  display: none;
  padding-left: 2px;
}
.music-content-left__music-dashboard-controls__right-volume-child {
}
.music-content-left__music-dashboard-controls__right-volume-child-range {
}

.music-content-left__music-settings {
  display: flex;
  width: 100%;
  list-style: none;
  padding: 0;
  justify-content: flex-end;
  margin-top: 12px;
  align-items: center;
  font-size: 15px;
}
.music-content-left__music-settings-items {
  display: flex;
  margin: 0 12px;
  cursor: pointer;
}
.music-content-left__music-settings-items-icon {
}

.music-content-left__music-settings-items-text {
  margin-left: 6px;
}

.music-content-left__music-settings-items:hover
  .music-content-left__music-settings-items-text {
  color: var(--main-color);
}

.music-content-left__music-subtitle {
  border: #dadada solid 1px;
  padding: 16px;
}
.music-content-left__music-subtitle-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.music-content-left__music-subtitle__left {
}
.music-content-left__music-subtitle__left-titles {
  font-size: 19px;
  font-weight: bold;
}
.music-content-left__music-subtitle__left-author {
  font-size: 14px;
  color: #9a9a9a;
}
.music-content-left__music-subtitle__left-post {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.music-content-left__music-subtitle__left-post-text {
  color: #9a9a9a;
}
.music-content-left__music-subtitle__left-post-person {
  margin-left: 4px;
  text-decoration: none;
}

.music-content-left__music-subtitle__right {
  display: flex;
  background-color: rgba(0, 0, 0, 0.05);
  width: 104px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
}
.music-content-left__music-subtitle__right-icon {
}
.music-content-left__music-subtitle__right-text {
  margin-left: 4px;
}
.far.fa-copy {
}

.music-content-left__music-subtitle-list {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 300;
  padding: 0;
  color: #333;
  list-style: none;
}
.music-content-left__music-subtitle-list-items {
  padding: 2px 0;
  border-bottom: 1px solid #dadada;
}

.music-content-right-heading {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.music-content-right-heading__titles {
  font-size: 22px;
  color: var(--main-color);
  text-transform: uppercase;
}
.music-content-right-heading__des {
  display: flex;
  align-items: center;
}
.music-content-right-heading__des-text {
  color: #9a9a9a;
  font-size: 14px;
}
.music-content-right-heading__des-note {
  color: #808080;
  margin: 0 6px;
}

.music-content-right-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 12px;
}
.music-content-right-items {
  padding: 4px 0;
  border-bottom: 1px solid #dadada;
}
.music-content-right-items-link {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
  display: flex;
}
.music-content-right-items-link-left {
  display: flex;
  align-items: center;
}
.music-content-right-items-link-left__icon {
  color: #7a7a7a;
  width: 32px;
  height: 32px;
  border: 2px solid #7a7a7a;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.music-content-right-items-link:hover
  .music-content-right-items-link-left__icon--play {
  display: block;
}
.music-content-right-items-link-left__icon--play {
  display: none;
}
.music-content-right-items-link:hover
  .music-content-right-items-link-left__icon--music {
  display: none;
}
.music-content-right-items-link-left__des {
  margin-left: 6px;
}
.music-content-right-items-link-left__des-name {
  font-size: 14px;
}
.music-content-right-items-link-left__des-singer {
  font-size: 12px;
  color: #a2a2a2;
}
.music-content-right-items-link-right-views {
  display: flex;
  align-items: center;
  color: #999999;
  font-size: 12px;
}
.music-content-right-items-link-right-views__icon {
}
.music-content-right-items-link-right-views__number {
  margin-left: 4px;
}
.fas.fa-headphones {
}
