<%- include('../includes/head.ejs') %>
    <body>
        <div class="container-fluid app">
            <%- include('../includes/navigation.ejs') %>
            <div class="music">
                <div class="music-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-9 music-content-left">
                                <div class="music-content-left__music">
                                    <div class="music-content-left__music-des">
                                        <div class="music-content-left__music-name">
                                            Bước qua mùa cô dơn - Vũ
                                        </div>
                                        <div class="music-content-left__music-views">
                                            <div class="music-content-left__music-views-icon">
                                                <i class="fas fa-headphones"></i>
                                            </div>
                                            <div class="music-content-left__music-views-number">
                                                1.000.000
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="music-content-left__music-dashboard">
                                    <div class="music-content-left__music-dashboard-des">
                                        <img src="https://i1.sndcdn.com/artworks-vjfASjlxOE1AKd9y-OGrz1Q-t500x500.jpg" alt="" class="music-content-left__music-dashboard-des-avatar">
                                        <div class="music-content-left__music-dashboar-des-subtitle">
                                            Mùa thu rơi vào em vào trong giấc mơ hôm qua
                                        </div>
                                    </div>
                                    <input type="range" min="0" max="100" class="music-content-left__music-dashboard-range">
                                    <div class="music-content-left__music-dashboard-controls">
                                        <div class="music-content-left__music-dashboard-controls__left">
                                            <div class="music-content-left__music-dashboard-controls__left-play">
                                                <i class="fas fa-play"></i>
                                            </div>
                                            <div class="music-content-left__music-dashboard-controls__left-next">
                                                <i class="fas fa-forward"></i>
                                            </div>
                                            <div class="music-content-left__music-dashboard-controls__left-time">
                                                <div class="music-content-left__music-dashboard-controls__left-time-current">
                                                    00:00
                                                </div>
                                                <div class="music-content-left__music-dashboard-controls__left-time-space">
                                                    /
                                                </div>
                                                <div class="music-content-left__music-dashboard-controls__left-time-long">
                                                    04:18
                                                </div>
                                            </div>
                                        </div>
                                        <div class="music-content-left__music-dashboard-controls__right">
                                            <div class="music-content-left__music-dashboard-controls__right-auto">
                                                <div class="music-content-left__music-dashboard-controls__right-auto-yes">
                                                    <div class="music-content-left__music-dashboard-controls__right-auto-check">
                                                        <i class="fas fa-check"></i>
                                                    </div>
                                                    <div class="music-content-left__music-dashboard-controls__right-auto-circle">

                                                    </div>
                                                </div>
                                                <div class="music-content-left__music-dashboard-controls__right-auto-no">
                                                    <div class="music-content-left__music-dashboard-controls__right-auto-circle">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="music-content-left__music-dashboard-controls__right-quality">
                                                <div class="music-content-left__music-dashboard-controls__right-quality-current">
                                                    128kbps
                                                </div>
                                                <ul class="music-content-left__music-dashboard-controls__right-quality-list">
                                                    <div class="music-content-left__music-dashboard-controls__right-quality-list-heading">
                                                        Chất lượng
                                                    </div>
                                                    <li class="music-content-left__music-dashboard-controls__right-quality-list-items music-content-left__music-dashboard-controls__right-quality-list-items--first">
                                                        320kbps
                                                    </li>
                                                    <li class="music-content-left__music-dashboard-controls__right-quality-list-items">
                                                        160kbps
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="music-content-left__music-dashboard-controls__right-volume">
                                                <div class="music-content-left__music-dashboard-controls__right-volume-icon music-content-left__music-dashboard-controls__right-volume-icon--play">
                                                    <i class="fas fa-volume-up"></i>
                                                </div>
                                                <div class="music-content-left__music-dashboard-controls__right-volume-icon music-content-left__music-dashboard-controls__right-volume-icon--pause">
                                                    <i class="fas fa-volume-mute"></i>
                                                </div>
                                                <div class="music-content-left__music-dashboard-controls__right-volume-child">
                                                    <input type="range" class="music-content-left__music-dashboard-controls__right-volume-child-range">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <ul class="music-content-left__music-settings">
                                    <li class="music-content-left__music-settings-items">
                                        <div class="music-content-left__music-settings-items-icon">
                                            <i class="far fa-heart"></i>
                                        </div>
                                        <div class="music-content-left__music-settings-items-text">
                                            Thêm vào
                                        </div>
                                    </li>
                                    <li class="music-content-left__music-settings-items">
                                        <div class="music-content-left__music-settings-items-icon">
                                            <i class="fas fa-share-alt"></i>
                                        </div>
                                        <div class="music-content-left__music-settings-items-text">
                                            Chia sẻ
                                        </div>
                                    </li>
                                    <li class="music-content-left__music-settings-items">
                                        <div class="music-content-left__music-settings-items-icon">
                                            <i class="fas fa-mobile-alt"></i>
                                        </div>
                                        <div class="music-content-left__music-settings-items-text">
                                            Nhạc chờ
                                        </div>
                                    </li>
                                    <li class="music-content-left__music-settings-items">
                                        <i class="fas fa-ellipsis-h"></i>
                                    </li>
                                </ul>
                                <div class="music-content-left__music-subtitle">
                                    <div class="music-content-left__music-subtitle__left">
                                        <h1 class="music-content-left__music-subtitle__left-titles">
                                            Lời bài hát: Bước qua mùa cô đơn
                                        </h1>
                                        <div class="music-content-left__music-subtitle__left-author">
                                            Nhạc sĩ: Vũ
                                        </div>
                                        <div class="music-content-left__music-subtitle__left-post">
                                            <div class="music-content-left__music-subtitle__left-post-text">
                                                Được đăng bởi
                                            </div>
                                            <a href="" class="music-content-left__music-subtitle__left-post-person">
                                                truongthanhhung
                                            </a>
                                        </div>
                                    </div>
                                    <div class="music-content-left__music-subtitle__right">

                                    </div>
                                </div>
                            </div>
                            <div class="col-3 music-content-right">
                                Bước qua nhau
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
<%- include('../includes/end.ejs') %>
