<%- include('../includes/head.ejs') %>
<body>
    <div class="app">
        <%- include('../includes/navigation.ejs') %>
        <div class="app-error">
            <div class="app-error__left">
                <h2 class="app-error__left-title" style="font-size: 54px">
                    Lỗi Server
                </h2>
                <div class="app-error__left-link">Xin lỗi vì sự cố này, chúng tôi sẽ khăc phục sau</div>
            </div>
            <div class="app-error__right">
                <div class="app-error__right-image">
                    <img src="/img/img-error/error.png" alt="" class="app-error__right-image-img">
                    <!-- <img src="/img/img-error/404.png" alt="" class="app-error__right-image-404"> -->
                </div>
            </div>
        </div>
    </div>
</html>
<%- include('../includes/end.ejs') %>


