<%- include('../../includes/head.ejs') %>
<div class="app">
    <%- include('../../includes/navigation.ejs') %>
    <div class="admin-user">
        <div class="container">
            <div class="row">
                <%- include('../../includes/admin-user.ejs') %>
                <div style="width: 79.1667%" class="admin-user-component col-9">
                    video                      
                </div>
            </div>
        </div>

    </div>
</div>

<%- include('../../includes/end.ejs') %>